body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    /* Dunkler Hintergrund für den Kalender */
    color: #e0e0e0;
    /* Textfarbe im Dark Mode */
}

h1 {
    margin: 20px 0 10px 0;
    font-size: 2em;
    color: #ffffff;
    /* Überschrift in Weiß */
}

p#location {
    margin: 0 0 20px 0;

    font-size: 1.2em;
    color: #d0d0d0;
    /* Leicht abgedunkelt */
}

#calendar {
    display: grid;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    grid-template-columns: 1fr;
    max-width: 1280px;
    /* Begrenzung der Breite */
    background: #1e1e1e;
    /* Dunkler Hintergrund für den Kalender */
    border-radius: 10px;

    /* Schatten für den Dark Mode */
    overflow: hidden;
}

.day {
    padding: 20px;
    border: 1px solid #333;
    /* Dunkler Rahmen */
    border-radius: 8px;
    background-color: #2c2c2c;
    /* Kartenhintergrund im Dark Mode */
    display: flex;
    font-size: 1.2em;
    flex-direction: column;
    align-items: center;
    pointer-events: none; /* Verhindert jegliche Klickinteraktionen */
}

.day:hover {
    transform: scale(1.02);
    background-color: #383838;
    /* Hellerer Hintergrund bei Hover */
}

.highlight {
    /* border: 3px solid #ff9800; */
        border: 3px solid #e7a33d;
}

.date {
    font-size: 1.3em;
    /* Größere Schriftgröße für das Datum */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    pointer-events: none; /* Verhindert jegliche Klickinteraktionen */
}

.time-group {
    margin: 0 auto; /* Container zentrieren */
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto; /* Zwei Spalten: Labels und Zeiten */
    gap: 10px 20px; /* Abstand zwischen Zeilen und Spalten */
    justify-content: start; /* Alles linksbündig */
    align-items: center; /* Vertikale Ausrichtung */
  }

  .time-label {
    text-align: left; /* Labels linksbündig */
    font-weight: bold;
    color: #ebb15c;
    pointer-events: none; /* Verhindert jegliche Klickinteraktionen */
  }

  .time-value {
    text-align: left; /* Zeiten linksbündig */
    color: #d0d0d0;
    pointer-events: none; /* Verhindert jegliche Klickinteraktionen */
  }

/* Für kleine Bildschirme */
@media (min-width: 680px) {

    #calendar {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

}

/* Für größere Bildschirme */
@media (min-width: 980px) {

    #calendar {
        grid-template-columns: repeat(3, 1fr);
    }

    body {
        background-color: #252525;
    }

}

.timer {

    min-width: 70%;
    font-size: 1em;
    margin-top: 20px;
    padding: 10px;
    background-color: #c0dce4; /* Pastell-Orange */
    color: #4a6b79; /* Dunkles Orange für den Text */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.success {
    min-width: 70%;
    margin-top: 20px;
    background-color: #d4edda;
    color: #155724;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


  @media print {

    h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #000; /* Schwarz für Überschriften */
    }
    .highlight{
        border: 1px solid #333;
    }
    /* Erfolgs- und Timer-Anzeige ausblenden */
    .success,
    .timer {
        display: none;
    }
    .day {
        -webkit-print-color-adjust: exact;
        border-radius: 10px; /* Abgerundete Ecken */
        /* background-color: #f8eaf0 !important; */
      page-break-inside: avoid; /* Verhindert, dass Tage abgeschnitten werden */
      background-color: white;
    }

        /* Alternierende Hintergrundfarbe für jeden zweiten Tag */
        .day:nth-child(even) {
            /* background-color: #eaf4fc !important; */
            border: 1px solid #c2d4f0; /* Passender Blauton für den Rahmen */
        }
    
        .day:nth-child(even) .time-label {
            color: #65799b; /* Dunklerer Rosaton für Labels */
        }

                /* Alternierende Hintergrundfarbe für jeden zweiten Tag */
                .day:nth-child(odd) {
                    /* background-color: #eaf4fc !important; */
                    border: 1px solid #fac6da; /* Dunklerer Rosaton für den Rahmen */
                }
            
                .day:nth-child(odd) .time-label {
                    color: #be6d8e; /* Dunklerer Rosaton für Labels */
                }
    .date {
        color: #000; /* Schwarz für das Datum */
    }

    .time-value {
        color: #333; /* Dunkelgrau für Zeiten */
    }

    #location {
      display: none; /* Verbirgt den Standort in der Druckansicht */
    }

  }
